.bigTitle {
  text-align: center;
}
body {
  background-image: url("background.jpeg");
}

.box {
  margin: auto;
  width: 350px;
  border: 100px red;
  outline: solid 10px black;
  height: 250px;
}

.london {
    position: fixed;
    left: 350px;
    top: 200px;
}

.weather {
    position: fixed;
    right: 350px;
    top: 100px;
}

.location{
    
position: fixed;
left: 350px;
top: 100px;
    
}

#key {
    position: fixed;
    right: 350px;
    top: 200px;
}